@model Contato
@{
    ViewData["Title"] = "Contato";
}
<!--<div class="container">-->
<div class="row justify-content-md-center">
    <div class="jumbotron col-6">
        <h2>Contato</h2>
        <form asp-action="Cadastro" method="POST">
            <p>
                <label asp-for="Name">Seu Nome:</label>
                <input placeholder="Seu Nome" asp-for="Name" />
            </p>
            <p>
                <label asp-for="Email">E-mail:</label>
                <input placeholder="exemplo@exemplo.com" asp-for="Email" />
            </p>
            <p>
                <label asp-for="ContactNum">Número para Contato:</label>
                <input placeholder="DDD + Número" asp-for="ContactNum" />
            </p>
            <p>
                <label asp-for="Subject">Assunto:</label>
                <input placeholder="Assunto" asp-for="Subject" />
            </p>
            <p>
                <label asp-for="Message">Mensagem:</label>
                <textarea placeholder="Digite aqui sua mensagem" asp-for="Message"></textarea>
            </p>
            <p>
                <input class="btn btn-success" type="submit" value="Enviar" />
            </p>
        </form>
        <form asp-action="Cancelar" method="POST">
            <input class="btn btn-danger" type="submit" value="Cancelar" />
            </p>
        </form>
        <p class="text-success">@ViewBag.MsgCadastroCont</p>
    </div>
</div>
<!--</div> -->