@{
    ViewData["Title"] = "Home";
}

<table border="0" style="background-color:#d6f7c3;">
    <tr>
        <td colspan="2">
            <div class="container">
                <br><img src="img/banner-principal.jpeg" width="144%" />
            </div>
        </td>
    </tr>
    <tr>
        <th><img src="img/microscope.svg" width="6%" />
            <h4>PESQUISA</h4>
        </th>
        <th><img src="img/test-tube.svg" width="6%" />
            <h4>INOVAÇÃO</h4>
        </th>
        <th> <img src="img/plant-leaf-with-white-details.svg" width="6%" />
            <h4>SERVIÇOS</h4>
        </th>
    </tr>
    <tr>
        <td>
            <p>Nossos laboratórios possuem moderna infraestrutura para o desenvolvimento da Ciência, Tecnologia
                a nível internacional. Desenvolvimos pesquisas voltadas às necessidades reais do setor
                sementeiro</p>
        </td>
        <td>
            <p>Com projetos campeões de prêmios, inovamos constantemente para que você possa encontrar produtos
                disponíveis no mercado, nós contamos com qualificação científica e técnica para desenvolver e
                prestar serviços na área de Inovação.</p>
        </td>
        <td>
            <p>Possuímos plataformas com excelente infraestrutura e corpo técnico especializado, exclusivamente
                para oferecer soluções tecnológicas sob medida através da prestação de serviços.</p>
        </td>
    </tr>
</table>
<br><br>
<div class="video-homepage-fundo">
    <div class="conteudo-video"><iframe class="video-homepage" width="1100" height="553"
            src="https://www.youtube.com/embed/NUZIv6-Nnrs" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<br><br><br>
<center>
    <div class="financing">
        <h1>QUEM CONFIA E APOIA A GENTE</h1>
        <p>Este empreendimento conta com o apoio financeiro da Finep e <br>
            Fapeal através do Programa Centelha e o apoio da Incubal/UFAL</p>
        <img src="/img/fapeal.png" />
</center>
</div>
</section>
</main>