@{
    ViewData["Title"] = "Institucional";
}

<div class="container">
    <img src="~/img/banner-institucional.jpg" width="100%" />
</div>
<br>
<h1>QUEM SOMOS</h1>
<h2>A Startup foi lançada!</h2>

<table border="0">
    <tr>
        <td><img src="~/img/foguete.png" width="100%" /></td>
        <td>
            <p>
                Uma ideia nasceu dentro da Universidade Federalde Alagoas a partir de uma dor real enfrentada pelos agricultores, as
                dificuldades existentes nocontrole de qualidade de sementes e grãos, mas fomos além, e com o espírito de homem do
                campo, lançamos uma <i>Startup</i> e estamos prontos para democratizar a análise e o controle de qualidade de sementes para
                todos.
            </p>
            <p>
                Queremos garantir que as sementes levadas aocampo para a semeadura, as colhidas ou mesmo aqualas armazenadas
                apresentem boa qualidade fisiológica, alta produtividade, e acima de tudo, um bom retorno financeiro para
                o agricultor.
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p>
                Estamos trabalhando duro no desenvolvimento detecnologias que sejam capazes de avaliar com maior precisão a qualidade
                de sementes e que seja amplamente aplicável a grandes culturas agrícolas, proporcionando aos
                produtores, beneficiadores e melhoristas de sementes um método de verificação bastante acessível e de baixo custo.
            </p>
        </td>
    </tr>
</table>
<br>

<table border="0" style="width:100%">
    <tr>
        <th><img src="~/img/microscope.svg" width="6%" />
            <h4>PESQUISA</h4>
        </th>
        <th><img src="~/img/test-tube.svg" width="6%" />
            <h4>INOVAÇÃO</h4>
        </th>
        <th> <img src="~/img/plant-leaf-with-white-details.svg" width="6%" />
            <h4>SERVIÇOS</h4>
        </th>
    </tr>
    <tr>
        <td>
            <p>Nossos laboratórios possuem moderna infraestrutura para o desenvolvimento da Ciência, Tecnologia
                a nível internacional. Desenvolvimos pesquisas voltadas às necessidades reais do setor
                sementeiro</p>
        </td>
        <td>
            <p>Com projetos campeões de prêmios, inovamos constantemente para que você possa encontrar produtos
                disponíveis no mercado, nós contamos com qualificação científica e técnica para desenvolver e
                prestar serviços na área de Inovação.</p>
        </td>
        <td>
            <p>Possuímos plataformas com excelente infraestrutura e corpo técnico especializado, exclusivamente
                para oferecer soluções tecnológicas sob medida através da prestação de serviços.</p>
        </td>
    </tr>
</table>
<br>
<h2>Outros Projetos:</h2>
<div class="video-homepage-fundo">
    <div class="conteudo-video"><iframe class="video-homepage" width="1100" height="553"
            src="https://www.youtube.com/embed/Fmb4XNNnI5Q" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<br>

</main>