@{
    ViewData["Title"] = "Legislação";
}

<div class="text-center">
    <h1 class="display-4">Legislação</h1>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card" style="width: 20rem;">
            <img src="https://www.farmflavor.com/wp-content/uploads/2020/05/7840710THB0870-7.jpg"
                class="card-img-top" alt="Regras para Análises de Sementes - MAPA">
            <div class="card-body">
                <h5 class="card-title">Regras para Análises de Sementes</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="https://www.gov.br/agricultura/pt-br/assuntos/insumos-agropecuarios/arquivos-publicacoes-insumos/2946_regras_analise__sementes.pdf"
                    class="btn btn-success" target="_blank">Baixar PDF</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.dawn.com/primary/2014/11/5456793cef26c.jpg"
                class="card-img-top"
                alt="Legislação Específica de Sementes e Mudas e Normas Relacionadas à Área - MAPA">
            <div class="card-body">
                <h5 class="card-title">Mudanças na Legislação</h5>
                <p class="card-text">Legislação Específica de Sementes e Mudas e Normas Relacionadas à Área</p>
                <a href="https://www.gov.br/agricultura/pt-br/assuntos/insumos-agropecuarios/insumos-agricolas/sementes-e-mudas/legislacao"
                    class="btn btn-success" target="_blank">Acessar</a>
            </div>
        </div>
    </div>
</div>