@{
    ViewData["Title"] = "Serviços";
}

<div class="container">
    <img src="~/img/banner-servicos.jpg" width="100%" />
</div>
<br>
<h1>O QUE MAIS AMAMOS FAZER</h1>
<h2>Conheça nossos principais serviços</h2>
<br>
<table border="0" style="width:100%">
    <tr>
        <th>
            <h4>PESQUISA APLICADA</h4>
        </th>
        <th>
            <h4>INOVAÇÃO TECNOLÓGICA</h4>
        </th>
    </tr>
    <tr>
        <td>
            <p>Obtemos soluções diversas a partir da aplicação do método científico, dirigindo à solução aos problemas e
                causas específicos dos produtores.</p>
        </td>
        <td>
            <p>Desenvolvemos tecnologias baseadas em biossensores para análise e controle de qualidade de insumos,
                culturas e produtos agrícolas.</p>
        </td>
    </tr>
    <tr>
        <th>
            <br><br>
            <h4>ANÁLISES LABORATÓRIAIS</h4>
        </th>
        <th>
            <br><br>
            <h4>CURSOS E TREINAMENTOS</h4>
        </th>
    </tr>
    <tr>
        <td>
            <p>Testes de desempenho da germinação e vigo <br> MÉTODOS RECONHECIDOS INTERNACIONALMENTE</p>
        </td>
        <td>
            <p>Alguns cursos teóricos e práticos oferecidos <br> INSFRAESTRUTURA DE EXCELÊNCIA</p>
        </td>
    </tr>
    </tr>
    <tr>
        <td>
            <ul>
                <li>Pureza</li>
                <li>Teste de Germinação</li>
                <li>Primeira Contagem de Germinação</li>
                <li>Índice de Velocidade de Germinação</li>
                <li>Massa Seca de Plântulas</li>
                <li>Comprimento de Plântulas</li>
                <li>Teste de Emergência</li>
                <li>Condutividade Elétríca</li>
                <li>Teste de Tetrazólio</li>
                <li>Integridade de Membranas</li>
                <li>Teste de Frio</li>
                <li>Envelhecimento Acelerado Artificial</li>
                <li><a href="/Contato/Cadastro">Saiba +</a></li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Análise de Semetes e Plântulas</li>
                <li>Coleta e Preparo de Amostras</li>
                <li>Espectrometria de Absorção Molecular</li>
                <li>Cromatografia</li>
                <li>Microscopia</li>
                <li>Biossegurança</li>
                <li>Matemática Aplicada ao Laboratório</li>
                <li>Primeiros Socorros</li>
                <li>Bioestatística</li>
                <li>Estatística Aplicada</li>
                <li>Fundamentos de Controle de Qualidade</li>
                <li>Automação Laboratorial</li>
                <li><a href="/Contato/Cadastro">Saiba +</a></li>
            </ul>
        </td>
    </tr>
</table>
<br><br><br>
</section>
</main>