@model Cursos
@{

    ViewData["Title"] = "Cursos";
}
<!--<div class="container">-->
<div class="row justify-content-md-center">
    <div class="jumbotron col-6">
        <h2>Incluir Curso</h2>
        <form asp-action="Cadastro" method="POST">
            <p>
                <label asp-for="NameCourse">Nome do Curso:</label>
                <input placeholder="Nome do Curso" asp-for="NameCourse" required/>
            </p>
            <p>
                <label asp-for="Workload">Carga Horária:</label>
                <input placeholder="40h" asp-for="Workload" required/>
            </p>
            <p>
                <label asp-for="DetailsCourse">Descrição do Curso:</label>
                <textarea placeholder="Descrição do Curso" asp-for="DetailsCourse" required></textarea>
            </p>
            <p>
                <label asp-for="ThumbnailUri">Imagem de Capa:</label>
                <input placeholder="URI da Imagem" asp-for="ThumbnailUri" required/>
            </p>
            <p>
                <input class="btn btn-success" type="submit" value="Cadastrar" required/>
            </p>
        </form>
        <p class="text-success">@ViewBag.MsgCadastroC</p>
    </div>
</div>
<!--</div> -->