@model Cursos
@{

    ViewData["Title"] = "Editar Curso";
}
<!--<div class="container">-->
<div class="row justify-content-md-center">
    <div class="jumbotron col-6">
        <h2>Editar Curso</h2>
        <form asp-action="Editar" method="POST">
            <p>
                <label asp-for="NameCourse">Nome do Curso:</label>
                <input asp-for="NameCourse" />
            </p>
            <p>
                <label asp-for="Workload">Carga Horária:</label>
                <input asp-for="Workload" />
            </p>
            <p>
                <label asp-for="DetailsCourse">Descrição do Curso:</label>
                <textarea asp-for="DetailsCourse"></textarea>
            </p>
            <p>
                <label asp-for="ThumbnailUri">Imagem de Capa:</label>
                <input asp-for="ThumbnailUri" />
            </p>
            <p>
                <input class="btn btn-success" type="submit" value="Editar" />
            </p>
        </form>
        <form asp-action="Cancelar" method="POST">
            <input class="btn btn-danger" type="submit" value="Cancelar" />
            </p>
        </form>
        <p class="text-success">@ViewBag.MsgEditarC</p>
    </div>
</div>
<!--</div> -->