@model Conteudo
@{

    ViewData["Title"] = "Conteúdos";
}
<!--<div class="container">-->
<div class="row justify-content-md-center">
    <div class="jumbotron col-6">
        <h2>Editar Conteúdo</h2>
        <form asp-action="Editar" method="POST">
            <p>
                <label asp-for="Title">Título: </label>
                <input asp-for="Title" />
            </p>
            <p>
                <label asp-for="Content">Breve Descrição: </label>
                <textarea asp-for="Content"></textarea>
            </p>
            <p>
                <label asp-for="BtnLink">Link da URL: </label>
                <input asp-for="BtnLink" />
            </p>
            <p>
                <label asp-for="Image">Imagem de Capa: </label>
                <input asp-for="Image" />
            </p>
            <p>
                <input class="btn btn-success" type="submit" value="Editar" />
            </p>
        </form>
        <p class="text-success">@ViewBag.MsgCadastroC</p>
    </div>
</div>
<!--</div> -->